doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Resume - Start Bootstrap Theme
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none JuneyongLee CV
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Research Project
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0
            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | JUNEYONG
                        span.text-primary LEE
                    .subheading.mb-5
                        | Dongjak-gu, Seoul, Republic of Korea · +82 10-5384-7822 · 
                        a(href='mailto:diziyong@hufs.ac.kr') diziyong@hufs.ac.kr
                    p.lead.mb-5
                        | Hello, I am June-yong Lee, currently pursuing a master's degree in computer engineering at Hankuk University of Foreign Studies. 
                        | I am interested in applying diffusion models to autonomous driving research, focusing on deep learning computer vision, generative AI, and multimodal AI.
                        | My current research interests include transformer-based diffusion models.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/juneyong-%E2%80%8Dlee-05b09733a/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/yousirong')
                            i.fab.fa-github
                        a.social-icon(href='https://www.instagram.com/juneyong_d.v/')
                            i.fab.fa-instagram
                        a.social-icon(href='https://scholar.google.com/citations?user=VAbPjjoAAAAJ')
                            i.fa-solid.fa-graduation-cap

            hr.m-0

            // Experience
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lightweight Temporal Segment Network for Video Scene Understanding: Validation in Driver Assault Detection
                            .subheading.mb-3 Korean Institute of Information Scientists and Engineers - Journal of KIISE(JOK)
                            p
                                | Our team developed a lightweight CNN-based TSN model capable of real-time detection of driver assaults, enhancing safety in transportation systems.
                            span.sreen
                                a(href='https://github.com/HUFSuperman/HUFS_SavingDriver') https://github.com/HUFSuperman/HUFS_SavingDriver
                            p
                                span.badge.text-body.border.border-1 Temporal Segment Network
                                span.badge.text-body.border.border-1 Lightweight CNN Architecture
                                span.badge.text-body.border.border-1 Assault Recognition
                                span.badge.text-body.border.border-1 Abnormal Behavior
                        .flex-shrink-0
                            span.text-primary 1st semester 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Research on Developing a Responsive Web Interface for Small Businesses Using React
                            .subheading.mb-3 Intelitec Solutions
                            p
                                | Developed a React-based responsive web interface to efficiently manage store data on crawling servers.
                            span.sreen
                                a(href='https://github.com/yousirong/CAPSTONE_AWS') https://github.com/yousirong/CAPSTONE_AWS
                            p
                                span.badge.text-body.border.border-1 Responsive Web Interface
                                span.badge.text-body.border.border-1 React
                                span.badge.text-body.border.border-1 Asynchronous Processing
                                span.badge.text-body.border.border-1 Information Architecture Design
                        .flex-shrink-0
                            span.text-primary 2nd semester 2023

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Master course, Korea University of Foreign Studies
                            .subheading.mb-3 Computer Science - AI Track
                            p GPA: 4.33
                        .flex-shrink-0
                            span.text-primary March 2024 ~ present

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item: i.fab.fa-python
                        li.list-inline-item: i.fab.fa-react
                        li.list-inline-item: i.fab.fa-docker
                        li.list-inline-item
                            img(src='https://pytorch.org/assets/images/pytorch-logo.png', style='width:60px; height:60px;')

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li: span.fa-li: i.fas.fa-trophy.text-warning
                            | Capstone Design Project Excellence Award
